{
  "extends": "stylelint-config-standard",
  "rules": {
    "linebreaks": "unix",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global", "local"]
      }
    ]
  }
}
