{
  "extends": "stylelint-config-standard",
  "rules": {
    "linebreaks": "unix",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global", "local"],
      },
    ],
    "comment-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested",
        ],
        "ignoreComments": [
          "/\\S+\\s*:\\s*\\S+/",
        ],
      },
    ],
    "alpha-value-notation": "number",
    "max-line-length": 1000,
    "number-max-precision": 20,
    "selector-class-pattern": "[A-Z][0-9A-Za-z]*([A-Z][0-9A-Za-z]*)*",
  },
}
