{
  "extends": "stylelint-config-standard",
  "rules": {
    "linebreaks": "unix",
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global", "local"],
      },
    ],
    "comment-empty-line-before": [
      "always",
      {
        "except": [
          "first-nested",
        ],
        "ignoreComments": [
          "/\\S+\\s*:\\s*\\S+;?/", // ruleset; TODO: Make it more accurate
        ],
      },
    ],
  },
}
