.TaskListItemContainer.Dragging {
  opacity: 0;
}

.ListItemSecondaryAction {
  padding-inline-end: 72px; /* TODO */
}

/* TODO: Polyfill and delete the following */
.ListItemSecondaryAction,
:root[dir="ltr"] .ListItemSecondaryAction {
  padding-right: 72px;
}

:root[dir="rtl"] .ListItemSecondaryAction {
  padding-left: 72px;
}
