.TaskListItemContainer.Dragging {
  opacity: 0;
}

.ListItemSecondaryAction {
  padding-inline-end: 72px; /* TODO */
}

/* TODO: Polyfill and delete the following */
.ListItemSecondaryAction.Ltr {
  padding-right: 72px;
}

.ListItemSecondaryAction.Rtl {
  padding-left: 72px;
}
