.FileUpload {
  display: inline-block; /* TODO: polyfill */
  display: inline flow-root;
  cursor: pointer;
}

.FileUpload.Safari:focus {
  outline: none;
}

.Button.Button {
  text-transform: none;
  cursor: unset;
}

.Input {
  display: none;
}
