.Chessman {
  font-family: "Apple Symbols", sans-serif;
  color: #222;
}

.Dragging {
  opacity: 0.5;
}

.Picking:not(.Dragging) {
  color: teal;
}

/* TODO: in a little more normal way */
.Preview {
  position: absolute;
  z-index: -1;
}
