.Square {
  height: 32px;
  width: 32px;

  /* TODO: delete next line */
  outline: solid lime 1px;
}

.White {
  background-color: white; /* TODO: parameterize color */
}

.Black {
  background-color: black; /* TODO: parameterize color */
}
