.Square {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  --white-square-color: white;
  --black-square-color: #c0c0c0;
}

.White {
  background-color: var(--white-square-color);
}

.Black {
  background-color: var(--black-square-color);
}
