.Square {
  height: 32px;
  width: 32px;
  font-size: 20px; /* of chessman; FIXME */
  display: flex;
  align-items: center;
  justify-content: center;

  --white-square-color: white;
  --black-square-color: #c0c0c0;
}

/* NOTE: できれば .Square.White にしたいが、そうすると postcss-css-variables がうまく動作しない。 */
.White.Square {
  background-color: var(--white-square-color);
}

.Black.Square {
  background-color: var(--black-square-color);
}

.Target {
  filter: sepia(100%);
}
